.login-container {
    width: 50vw;
    min-width: 350px;
    max-width: 400px;
    background-color: rgba(182, 182, 182, 0.418);
    border-radius: 10px;
}

.container {
    height: 100vh;
}

.bandLogo-content {
    width: 120px;
}